body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 16px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

.container {
  max-width: 1300px;
  margin: auto;
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}

.btn {
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  border-radius: 20px;
  text-align: center;
  padding: 6px 25px 6px 25px;
  background-color: #10c010;
  color: white;
}

.qwe {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0.9;
  cursor: pointer;
}
